.container {
    display:flex;
    height:500px;
    flex-direction:row;
    justify-content:start;
    background-color:#DDDDDD;
    margin:10px;
    }
    
   .container div{
      width:100px;
      height:50%;
      flex:1;
      background-color:#0000FF;
      font-size:18px;
      margin:10px;
      padding:10px;
    }
    
    html {
        background-color:#CCC;
    }

    